@model Guarantib.Models.Produit

@{
    ViewData["Title"] = "Create";
}

<style>
        

            h1, h4 {
            text-align: center;
        }
        /* Ajout de styles pour centrer le formulaire */
        .centered-form {
            display: flex;
            justify-content: center;
            align-items: center;
        
        }

        .centered-form .col-md-4 {
            max-width: 400px; /* Ajuster la largeur selon vos besoins */
        }

        /* Style du conteneur principal */
        .row {
            margin-top: 20px;
        }

        /* Style du formulaire */
        .form-group {
            margin-bottom: 20px;
        }

        /* Style des étiquettes */
        .control-label {
            font-weight: bold;
        }

        /* Style des champs de saisie avec coins arrondis */
        .form-control {
            width: 100%;
            padding: 8px;
            box-sizing: border-box;
            border: 1px solid #FFBB3E;
            border-radius: 5px;
            background-color: #FFE5B7;
        }

        /* Style des boutons avec coins arrondis */
        .btn-primary {
            background-color: #FFBB3E;
            color: #fff;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
        }

            .btn-primary:hover {
                background-color: #FFA500;
            }

        /* Style du lien de retour */
        a {
            text-decoration: none;
            color: #007bff;
        }

            a:hover {
                text-decoration: underline;
            }

        .form-group.form-check {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 15px;
            background-color: #f8f9fa; /* Couleur de fond */
            padding: 10px; /* Espacement interne */
            border-radius: 5px; /* Coins arrondis */
        }

            .form-group.form-check label {
                color: #007bff; /* Couleur du texte */
            }

            .form-group.form-check input {
                margin-right: 5px;
            }

        .form-group.submit-button {
            display: flex;
            justify-content: center;
        }

            .form-group.submit-button input {
                width: auto; /* Pour permettre au bouton de s'ajuster automatiquement à son contenu */
            }

        .centered-link {
            display: flex;
            justify-content: center;
            margin-top: 10px; /* Ajout d'une marge en haut pour l'espace */
        }

        .num{
            background-color: #FFBB3E;
            color: #100E1C;
            text-decoration-style:solid;
        }

</style>


<h1>Ajouter un produit</h1>

<h4>Produit</h4>
<hr />

    <div class="centered-form">
        <div class="col-md-4">
        <form asp-action="Create" method="post">
           
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <div class="row">
                        <div class="form-group">
                            <label for="SelectedClientId">Sélectionnez un client :</label>
                            <select asp-for="SelectedClientId" class="form-control">
                                @foreach (var client in ViewData["ClientId"] as SelectList)
                                {
                                    <option value="@client.Value">@client.Text</option>
                                }
                            </select>
                        </div>
                        <input type="hidden" asp-for="SelectedClientId" />
                        <div class="col-md-6">
                            <input asp-for="Name" class="form-control" placeholder="Appareil" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                        <div class="col-md-6">
                            <label for="SelectedMarqueId">Sélectionnez une marque :</label>
                            <select asp-for="SelectedMarqueId" class="form-control">
                                @foreach (var marque in ViewData["MarqueId"] as SelectList)
                                {
                                    <option value="@marque.Value">@marque.Text</option>
                                }
                            </select>
                        </div>

                    <input type="hidden" asp-for="SelectedMarqueId" />

                        <div class="col-md-6">
                            <input asp-for="Brand" class="form-control" placeholder="Modèle" />
                            <span asp-validation-for="Brand" class="text-danger"></span>
                        </div>


                    </div>
                </div>

            

                
                <div class="form-group">
                    <label>date de garantie</label>
                    <input asp-for="EndDate" class="form-control" placeholder="Date fin de la garantie" />
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="NumFile" class="form-control num" placeholder="Numéro de dossier" />
                    <span asp-validation-for="NumFile" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="NumAkuito" class="form-control num" placeholder="Numéro Akuito" />
                    <span asp-validation-for="NumAkuito" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="NumSerie" class="form-control num" placeholder="Numéro de série" />
                    <span asp-validation-for="NumSerie" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Description" class="form-control" placeholder="note" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="IsClose" /> @Html.DisplayNameFor(model => model.IsClose)
                    </label>
                </div>
                <div class="form-group submit-button">
                    <input type="submit" value="Ajouter !" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>


    <div class="centered-link">
        <a asp-action="Index">Retour au produit en cours</a>
    </div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
